.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  width: 225px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 30px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
}

.right-dynamic-pane{
  width: 1080px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 275px;
  background-color: #d3d3d3; 
  overflow-x: hidden;
  padding: 8px 0; 
  border-radius: .75rem;
}


.ptro-holder-wrapper{
  width: 1080px !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.ptro-holder{
  width: 10 !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.thumbnail{  
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 0px !important;
  margin-top: 20px !important;
  /* -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000; */
}

.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.caption{
  text-align: left;
  margin-left: 25px;
  
  font-style: italic;
  font-size: small;
}























































.painting-page-title {
  text-align: center;
}

.paintings-filter-header {
  text-align: right;
  margin-left: 5px;
}


.App{
  background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);

}



html { 
  background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
/*   
  background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */

  /* background-image: url("https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") */

}
