.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  width: 225px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
}

.right-dynamic-pane{
  width: 1080px;
  height: 700px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 275px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;

}


.ptro-holder-wrapper{
  width: 1080px !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.ptro-holder{
  width: 10 !important;
  height: 700px !important;
  position: relative;
  z-index: 1;
  top: 75px !important;
  left: 275px !important; 
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-style: solid;
}

.thumbnail{  
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}


.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}